// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//   DON'T FORGET TO RENAME THIS FILE TO bot.json
//            AND REMOVE ANY COMMENTS
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

{
  "tg_token":         "[TELEGRAM_BOT_TOKEN]",
  "bot_username":     "[TELEGRAM_BOT_USERNAME]",
  "bot_name":         "[BOT_NAME]",
  "tg_bot_owner_id":  0,          // your Telegram user ID
  "use_irc_bridge":   false,      // if "false" set, ignore below
  "irc_nickname":     "[IRC_BOT_NICKNAME]",
  "irc_servers" : [
    {
      "address":        "[IRC_FIRST_SERVER_ADDRESS]",
      "port":           0,          // your IRC server port
      "ns_passwd":      "[IRC_FIRST_BOT_PASSWORD_FOR_NICKSERV]",
      "encoding":       "[IRC_FIRST_SERVER_ENCODING]",
      "rules_link":     "[IRC_FIRST_RULES_HTTP(S)_LINK]", // if neccasary
      "use_rules_cmd":  true
    },
    { // if the second server is not involved, you can delete this block
      "address":        "[IRC_SECOND_SERVER_ADDRESS]",
      "port":           0,          // your IRC server port
      "ns_passwd":      "[IRC_SECOND_BOT_PASSWORD_FOR_NICKSERV]",
      "encoding":       "[IRC_SECOND_SERVER_ENCODING]",
      "rules_link":     "[IRC_SECOND_RULES_HTTP(S)_LINK]", // if neccasary
      "use_rules_cmd":  false
    },
  ],
  "license":          "",
  "def_timezone":     "[DEFAULT_TIMEZONE]",
  "limits": {
    "max_bridge_threads":      "15"
  }
}
